<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Wallpaper Calculator</h1>
<p>[[${title}]]</p>
<p data th-if="${result}">Your result: [[${result}]]</p>
<form action="">
    <input name="roomHeight" type="text" placeholder="room height in meters">
    <input name="roomLength" type="text" placeholder="room length in meters">
    <input name="roomWidth" type="text" placeholder="room width in meters">
    <button>Calculate</button>
</form>
</body>
</html>